* {
  @apply text-white;
}

.section-title {
  @apply text-2xl font-semibold text-red-500 mb-5;
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.accordion {
  transition: 0.3s;
}

.accordion.active {
  transition: 0.3s;
}

.accordion.active .accordion-content {
  height: auto;
  transition: 0.3s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
